@import "shaddow";
@import "buttons";
@import "input";
@import "filters";


.edit-link {
  float: right;
  color: #ffffff;
  padding: .6em;
  background: #ff9100;
  margin: .5em;
  cursor: pointer;
}

.delete-link {
  float: right;
  color: #ffffff;
  padding: .6em;
  background: #ff3616;
  margin: .5em;
  cursor: pointer;
}

.back-link {
  padding: .6em;
  margin: .5em;
  color: #00bcd4;
  background: #dadada;
  float: left;
  cursor: pointer;
}

.articles-block {
  clear: both;

  .edit-open {
    display:none;
  }

  ul, li {
    padding: 0;
    margin: 0;
  }

  .edit-block {
    margin: 0 .5em;

    .hidden {
      visibility: hidden;
    }

    .btn {
      padding: .5em 1em;
      background: $color-1;
      margin: .5em;
      color: $color-4;
      border-radius: 0;
      font-size: .9em;
    }

    .edit {
      background: rgba(255, 255,255,0);
      border: 1px solid #f9b24f;
      color: #f9b24f;
    }

    .remove {
      background: rgba(255, 255,255,0);
      border: 1px solid #e61974;
      color: #e61974;
    }

    .translate {
      background: rgba(255, 255,255,0);
      border: 1px solid #8e4497;
      color: #8e4497;
    }
  }

  .post {
    &.hidden {
      display: none;
    }
  }
  .translation {
    &.hidden {
      display: none;
    }
  }
}

.article {

  .title {
    font-size: 1.7em;
    margin-bottom: .5em
  }

  .category {
    padding: .3em .5em;
    background: $color-1;
    color: $color-3;
    border-radius: 2em;
    font-size: .7em;
    margin: .5em 1em .1em 0;
    display: inline-block;
  }

  &.edit-article {
    display: none;

    &.open {
      display: block;
    }
  }
}

.article,
.edit-article {
  @extend .shaddow;

  padding: 2em;
  margin: .5em 1em;
}