@import "variables";

.btn {
  font-family: $font-2;
  color: $color-4;
  font-size: 20px;
  background: $color-8;
  padding: 0.2em .5em;
  margin: .5em 0;
  text-decoration: none;
  border-radius: 0;
}

.btn:hover {
  background:  $color-8-hover;
  text-decoration: none;
  color: $color-4;
}

.btn:focus {outline:0;}

.btn-success {
  border: 0;
}