@import "variables";
@import "filters";
@import "search";
@import "article";
@import "new-post";
@import "floating-button";

body {
  background: #000;
}

.article,
.edit-article {
  color: $color-4;
}

.category-item {
  background: $color-7;
  color: $color-4;
}