@import "variables";

.filter-block {
  margin: 0 1em;
}

.category-item {
  float: left;
  padding: .5em 1em;
  background: $color-1;
  margin: 0 1em .5em 0;
  color: $color-3;
  border-radius: 2em;
  font-size: .9em;
  cursor: pointer;

  -webkit-transition: background .35s ease-in-out;
  transition: background .35s ease-in-out;

  &:hover {
    background: $color-3;
    color: $color-1;
  }

  &:active {
    background: $color-2;
    color: $color-1;
  }
}