//@import "fonts";
@import "variables";
@import "article";
@import "filters";
@import "search";
@import "new-post";
@import "floating-button";

///* MORE THAN 75 */
//body { background-color: skyBlue; }
//
///* LESS THAN 75 */
//@media (max-width: 74.9em) { body {background-color: pink;} }
//
///* LESS THAN 62 */
//@media (max-width: 61.9em) { body {background-color: blue;} }
//
///* LESS THAN 48 */
//@media (max-width: 47.9em) { body {background-color: green;} }
//
///* LESS THAN 34 */
//@media (max-width: 33.9em) { body {background-color: red;} }



