.form-control {
  width: auto;
  padding: .5em;
  border-radius: 0;
  margin: 1em 0;
  box-shadow: none;
  border: 1px solid #dfdfdf;

  &:focus {outline:0;}
}

@media (max-width: 61.9em) {

  .form-control {
    input {
      width: 100%;
    }
  }
}

