@import "variables";
@import "buttons";
@import "input";


body {
  font-family: $font-1;
  color: $color-2;
  font-weight: 300;
  background: $color-7;
}

.register-block,
.login-block {
  width: 14em;
  margin: 0 auto;
  text-align: left;

  padding: .8em;

  .text-input {
    margin: 0;
    width: 13em;
  }
}

.login-block {
  border-top: 1px solid $color-4;

  .btn {
    margin-top: 0;
  }
}

.login-block {
  .btn {
    margin-top: 2.7em;
  }
}

.register-block,
.login-block {

  h2 {
    color: $color-4;
  }

  .form-group {
    margin: .5em 0;
  }

  form {
    width: 11.4em;
  }

  input[type="text"],
  input[type="password"] {
    margin: 1em 0 0 0;
    border: 0;
      -webkit-transition: border .35s ease-in-out;
      transition: border .35s ease-in-out;

  }
  input[type=text]:focus,
  input[type=password]:focus {
    outline: none;
    border-bottom: 2px solid $color-8;
  }

  .error,
  .warn {
    color: $color-8;
    font-size: .7em;
  }

  .btn {
    margin-top: .5em;
  }
}

.auth-error {
  color: $color-5;
  text-align: center;
}

@media (max-width: 61.9em) {

}

