@import "variables";

.header-block {
  background: $color-7;
  color: $color-4;
  height: 4.8em;

  .sangwich {
    width: 2em;
    height: 2em;
    padding: .3em;
    float: left;
    margin: 1.3em;
    display: none;
    cursor: pointer;

    div {
      background: $color-4;
      height: .19em;
      margin-top: .25em;
    }
  }

  .links {
    a {
      font-family: $font-2;
      text-transform: uppercase;
      padding: 1.6em;
      display: inline-block;
      color: $color-4;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .top-menu-item {
    display: inline-block;
    cursor: pointer;
  }
}

.drawer-item {
  margin: 2em 0;
  padding: 1em 0 1em 1em;
  cursor: pointer;

  &:hover {
    background: #e2e2e2;
  }
}

.FileCloudDownload-ico {
  margin: 1em .1em 1em 1em;
  display: inline-block;
  float: left;
}

.FileCloudDownload-label {
  display: inline-block;
  margin: 1.2em 1em 1em .5em;
  font-weight: bold;
}

.theme-toggler {
  padding: 3em 1.3em;
}

///* LESS THAN 48 */
@media (max-width: 47.9em) {
  .header-block {
    .sangwich {
      display: block;
    }

    .links {
      display: none;
    }
  }
}