@import "shaddow";
@import "buttons";
@import "input";

.new-post-block {

  padding-bottom: 3em;

  .new-post-form {
    @extend .shaddow;

    width: 43em;
    padding: 2em;
    margin: .5em auto;

    input, textarea {
      width: 100%;
    }

    textarea {
      height: 30em;
    }
  }

  .filter-block {
    margin: 0;
  }

  .chips {
    clear: both;
    background: #f3f3f3;
    font-size: .9em;
    border-radius: 1em;
    padding: .7em;

    span {
      margin: .1em;
    }
  }

  .floating-bottom-button-block {
     position: fixed;
     top: 95vh;
     left: 50%;
     text-align: center;
     background: #fff;
     width: 100%;
     transform: translateX(-50%);

    @extend .shaddow;

    .floating-bottom-button {
      position: relative;
    }
  }

}

///* LESS THAN 48 */
@media (max-width: 47.9em) {
  .new-post-block {
    .new-post-form {
      width: 95%;
      padding: 1.5em;
    }
  }
}