@import "shaddow";

.search-input-block {
  clear: both;
  text-align: center;
  padding: 1.4em 1.1em .4em 1.1em ;

  input {
    width: 28em;
    padding: .5em;
    margin: 0 auto;
  }
}

@media (max-width: 61.9em) {

  .search-input-block {
    input {
      width: 100%;
    }
  }
}

///* MORE THAN 75 */
//body { background-color: skyBlue; }
//
///* LESS THAN 75 */
//@media (max-width: 74.9em) { body {background-color: pink;} }
//
///* LESS THAN 62 */
//@media (max-width: 61.9em) { body {background-color: blue;} }
//
///* LESS THAN 48 */
//@media (max-width: 47.9em) { body {background-color: green;} }
//
///* LESS THAN 34 */
//@media (max-width: 33.9em) { body {background-color: red;} }